<Layouts.app flash={@flash}>
  <.header>
    Listing Job offers (<%= length(@job_offers) %>)
    <.upload_file />
    <:actions>
      <.button href={~p"/job_offers/new"}>
        <.icon name="hero-plus" /> New Job offer
      </.button>
      <.button href={~p"/job_offers"} method="delete" data-confirm="Are you sure?">
        <.icon name="hero-trash" />  Delete all
      </.button>
    </:actions>
  </.header>

  
  <.table id="job_offers" rows={@job_offers} row_click={&JS.navigate(~p"/job_offers/#{&1}")}>
    <:col :let={job_offer} label="Application date">{job_offer.application_date}</:col>
    <:col :let={job_offer} label="Company">{job_offer.company}</:col>
    <:col :let={job_offer} label="Job title">{job_offer.job_title}</:col>
    <:col :let={job_offer} label="Working model">{job_offer.working_model}</:col>
    <:col :let={job_offer} label="Status">{job_offer.status}</:col>
    <:action :let={job_offer}>
      <div class="sr-only">
        <.link navigate={~p"/job_offers/#{job_offer}"}>Show</.link>
      </div>
      <.link navigate={~p"/job_offers/#{job_offer}/edit"}>Edit</.link>
    </:action>
    <:action :let={job_offer}>
      <.link href={~p"/job_offers/#{job_offer}"} method="delete" data-confirm="Are you sure?">
        Delete
      </.link>
    </:action>
  </.table>

  <div class="join w-full flex justify-center">
    <%= for page <- 0..@pages do %>
      <a class={ "join-item btn  #{if page+1 == @current_page do "btn-active" end}"} 
        href={"?page=#{page+1}"}>{page + 1}</a>
    <% end %>
  </div>



</Layouts.app>
