<Layouts.app flash={@flash}>
  <.header>
    Listing Job offers ({ @count })
    <.upload_file />
    <:actions>
      <.button href={~p"/job_offers/new"}>
        <.icon name="hero-plus" /> New Job offer
      </.button>
      <.button href={~p"/job_offers"} method="delete" data-confirm="Are you sure?">
        <.icon name="hero-trash" />  Delete all
      </.button>
      <.button href={~p"/download_file"} method="get">
        <.icon name="hero-arrow-down-tray" />  Export to Excel
      </.button>
    </:actions>
  </.header>


  <div class="flex justify-start space-x-5">
    <.form class="flex-col items-start" 
      as={:filter} :let={f} for={@filter} method="get">
    
      <div class="flex space-x-5">
        <.input label="Keyword" field={f[:keyword]} type="text" />
        <.input label={"Company (#{length(@companies)})"} field={f[:company]} type="select" options={[ALL: ""] ++ @companies} />
        <.input label="Working model" field={f[:working_model]} type="select" options={[ALL: "", "REMOTE": "Remoto", "HYBRID": "brido", UNKNOWN: "?"]} />
        <.input label="Status" field={f[:status]} type="select" options={[ALL: "", "APPLIED": "APPLIED", "PENDING": "PENDING", "REJECTED": "REJECTED", "NO RESPONSE": "NO_RESPONSE", "GHOSTED": "GHOSTED", "INTERVIEW": "INTERVIEW", "OFFER": "OFFER"]} />
      </div>
      
      <.button class="btn btn-primary btn-soft w-full"> <.icon name="hero-magnifying-glass" /> Search </.button>
    </.form>
  </div>
  
  <.table id="job_offers" rows={@job_offers} row_click={&JS.navigate(~p"/job_offers/#{&1}")}>
    <:col :let={job_offer} label="Application date">{job_offer.application_date}</:col>
    <:col :let={job_offer} label="Company">{job_offer.company}</:col>
    <:col :let={job_offer} label="Job title">{job_offer.job_title}</:col>
    <:col :let={job_offer} label="Working model">{job_offer.working_model}</:col>
    <:col :let={job_offer} label="Status">{job_offer.status}</:col>
    <:action :let={job_offer}>
      <div class="sr-only">
        <.link navigate={~p"/job_offers/#{job_offer}"}>Show</.link>
      </div>
      <.link navigate={~p"/job_offers/#{job_offer}/edit"}>Edit</.link>
    </:action>
    <:action :let={job_offer}>
      <.link href={~p"/job_offers/#{job_offer}"} method="delete" data-confirm="Are you sure?">
        Delete
      </.link>
    </:action>
  </.table>

  <div class="join w-full flex justify-center">
    <%
      values = for {k, v} <- @filter, v not in ["", nil], do: "filter["<> k <> "]=" <> v
      filter_string =  Enum.join(values, "&")
    %>
    
    <%= for page <- 0..@pages do %>
      <a class={ "join-item btn  #{if page+1 == @current_page do "btn-active" end}"} 
        href={"?page=#{page+1}&"<>"#{filter_string}"} >{page + 1}</a>
    <% end %>
  </div>



</Layouts.app>
