<Layouts.app flash={@flash}>
  <.header>
    Job offer {@job_offer.id}
    <:actions>
      <.button navigate={~p"/job_offers"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/job_offers/#{@job_offer}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit job offer
      </.button>
    </:actions>
  </.header>

  
  
  <div class="flex space-x-10 justify-between">
    <div>
      <div class="font-bold">Application date</div>
      <div>{@job_offer.application_date}</div>
    </div>

    <div>
      <div class="font-bold">Company</div>
      <div>{@job_offer.company}</div>
    </div>

    <div>
      <div class="font-bold">Working mode</div>
      <div>{@job_offer.working_model}</div>
    </div>

    <div>
      <div class="font-bold">Status</div>
      <div>{@job_offer.status}</div>
    </div>
  </div>
  
  <hr class="border-t border-gray-300 my-4">

  <div class="flex space-x-10">
    <div class="w-150">
      <div class="font-bold">Job title</div>
      <div>{@job_offer.job_title}</div>
    </div>
    <div class="w-100">
      <div class="font-bold">Sector</div>
      <div>{@job_offer.sector}</div>
    </div>
  </div>
  
  <hr class="border-t border-gray-300 my-4">

  <div>
    <div class="font-bold">Job description</div>
    <div>{@job_offer.job_description}</div>
  </div>
  
  <hr class="border-t border-gray-300 my-4">

  <div class="flex space-x-10 justify-between">
    <div>
      <div class="font-bold">Experience</div>
      <div>{@job_offer.experience}</div>
    </div>

    <div>
      <div class="font-bold">Salary range</div>
      <div>{@job_offer.salary_range}</div>
    </div>

    <div>
      <div class="font-bold">Requested salary</div>
      <div>{@job_offer.requested_salary}</div>
    </div>
  </div>
  
  <hr class="border-t border-gray-300 my-4">

  <div>
      <div class="font-bold">Response date</div>
      <div>{@job_offer.response_date}</div>
  </div>

  <hr class="border-t border-gray-300 my-4">

  <div>
      <div class="font-bold">Response</div>
      <div>{@job_offer.response}</div>
  </div>

  <hr class="border-t border-gray-300 my-4">

  <div class="mt-5 flex space-x-20">
    <div class="font-bold">Observation</div>
    <span class="w-full">{@job_offer.observation}</span>
  </div>

  <hr class="border-t border-gray-300 my-4">
  
</Layouts.app>
